openapi: 3.0.3
info:
  title: 🍅 토마토 스마트팜 API
  description: |
    Seed Farm 토마토 스마트팜 관리 시스템 API 문서
    
    ## 서버 구성
    - **n8n 워크플로우 서버**: seedfarm.co.kr:5678 (외부 접근)
    - **라즈베리파이 카메라**: 192.168.49.219:8080 (내부 네트워크)
    - **수확량 예측 서버**: 192.168.49.101:8002 (내부 네트워크)
    - **YOLO 분석 서버**: 192.168.49.101:8001 (내부 네트워크)
    
    ## 주요 기능
    - 실시간 토마토 모니터링 (YOLO 기반 4-class 분류)
    - 시장 가격 조회 (KAMIS + 네이버 쇼핑)
    - AI 수확량 예측
    - 병해충 진단 (Gemini AI)
    - 카메라 원격 제어
    
  version: 1.0.0
  contact:
    name: Seed Farm Development Team
    email: dev@seedfarm.co.kr
  license:
    name: MIT

servers:
  - url: http://seedfarm.co.kr:5678/webhook
    description: n8n 워크플로우 서버 (Production)
  - url: http://192.168.49.219:8080
    description: 라즈베리파이 카메라 서버 (Internal)
  - url: http://192.168.49.101:8002
    description: 수확량 예측 서버 (Internal)

tags:
  - name: 실시간 데이터
    description: InfluxDB 기반 토마토 모니터링 데이터
  - name: 시장 가격
    description: KAMIS 도매가 + 네이버 소매가 조회
  - name: 카메라 제어
    description: 라즈베리파이 카메라 원격 제어
  - name: AI 분석
    description: 토마토 이미지 분석 및 병해충 진단
  - name: 수확량 예측
    description: ML 기반 수확량 예측
  - name: 챗봇
    description: Gemini AI 기반 농업 상담

paths:
  # ==================== 실시간 데이터 ====================
  /data-realtime:
    get:
      tags:
        - 실시간 데이터
      summary: 실시간 토마토 데이터 조회
      description: |
        InfluxDB에서 최근 1시간 내 마지막 YOLO 분석 결과를 반환합니다.
        
        **YOLO 클래스 설명:**
        - Ready: 수확 가능한 완숙 토마토
        - Not_Ready: 미성숙 토마토
        - Disease_Bad: 병해충 감염 토마토
        - Truss: 화방 (꽃봉우리)
      operationId: getRealtimeData
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeData'
              example:
                Ready: 45
                Not_Ready: 23
                Disease_Bad: 2
                Truss: 8
        '500':
          description: 서버 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /data-history:
    get:
      tags:
        - 실시간 데이터
      summary: 과거 데이터 조회
      description: 지정된 시간 범위의 토마토 분석 히스토리를 반환합니다.
      operationId: getHistoryData
      parameters:
        - name: hours
          in: query
          description: 조회할 시간 범위 (기본값 24시간)
          required: false
          schema:
            type: number
            default: 24
            example: 24
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryData'
              example:
                data:
                  - time: "2024-11-21T06:00:00Z"
                    Ready: 40
                    Not_Ready: 20
                    Disease_Bad: 1
                    Truss: 7
                  - time: "2024-11-21T06:10:00Z"
                    Ready: 42
                    Not_Ready: 21
                    Disease_Bad: 1
                    Truss: 7

  /data-summary:
    get:
      tags:
        - 실시간 데이터
      summary: 일일 요약 데이터
      description: 오늘 00:00부터 현재까지의 토마토 데이터 요약을 반환합니다.
      operationId: getDailySummary
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySummary'
              example:
                total_ready: 450
                total_not_ready: 230
                total_disease: 15
                avg_truss: 8

  # ==================== 시장 가격 ====================
  /price-compare:
    get:
      tags:
        - 시장 가격
      summary: 도매가 vs 소매가 비교
      description: |
        KAMIS 도매 시장가와 네이버 쇼핑 소매가를 비교합니다.
        
        **데이터 소스:**
        - 도매가: KAMIS API (가락시장 기준)
        - 소매가: 네이버 쇼핑 API (완숙 토마토 1kg 기준)
      operationId: getPriceCompare
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCompare'
              example:
                success: true
                date: "2024-11-28"
                wholesale_summary:
                  high: 3500
                  mid: 2800
                  cherry: 8500
                online_summary:
                  lowest_price: 5900
                  lowest_mall: "쿠팡"
                  median_price: 7500
                  average_price: 7200
                comparison:
                  - grade: "상품"
                    wholesale_price: 3500
                    online_lowest: 5900
                    margin_rate: 68

  /price-history:
    get:
      tags:
        - 시장 가격
      summary: 가격 추이 조회
      description: 지정된 기간의 토마토 가격 변동 추이를 반환합니다.
      operationId: getPriceHistory
      parameters:
        - name: start
          in: query
          description: 시작 날짜 (YYYY-MM-DD)
          required: true
          schema:
            type: string
            format: date
            example: "2024-11-21"
        - name: end
          in: query
          description: 종료 날짜 (YYYY-MM-DD)
          required: true
          schema:
            type: string
            format: date
            example: "2024-11-28"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceHistory'
              example:
                success: true
                period:
                  start: "2024-11-21"
                  end: "2024-11-28"
                count: 7
                stats:
                  high:
                    min: 3200
                    max: 3800
                    avg: 3500
                    change: 200
                data:
                  - date: "2024-11-21"
                    high: 3400
                    mid: 2700
                  - date: "2024-11-22"
                    high: 3500
                    mid: 2800

  /market-price:
    get:
      tags:
        - 시장 가격
      summary: KAMIS 시장 가격 (단일)
      description: 오늘 날짜의 KAMIS 도매 시장가를 반환합니다.
      operationId: getMarketPrice
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPrice'

  # ==================== 카메라 제어 ====================
  /camera-status:
    get:
      tags:
        - 카메라 제어
      summary: 카메라 상태 조회
      description: 라즈베리파이 카메라의 현재 상태를 반환합니다.
      operationId: getCameraStatus
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraStatus'
              example:
                monitoring: true
                interval: 600
                last_capture: "2024-11-21T07:20:00Z"
                white_balance: "auto"

  /camera-capture:
    post:
      tags:
        - 카메라 제어
      summary: 즉시 촬영
      description: |
        라즈베리파이 카메라로 즉시 촬영 후 YOLO 분석을 수행합니다.
        결과는 InfluxDB에 저장됩니다.
      operationId: captureNow
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResult'
              example:
                success: true
                data:
                  Ready: 45
                  Not_Ready: 23
                  Disease_Bad: 2
                  Truss: 8
                  ripeness_rate: 66
                  disease_rate: 4
                timestamp: "2024-11-21T07:30:00Z"

  /capture-test:
    post:
      tags:
        - 카메라 제어
      summary: 테스트 촬영 (랜덤 데이터)
      description: |
        실제 카메라 없이 랜덤 토마토 데이터를 생성하여 InfluxDB에 저장합니다.
        테스트/개발 용도로 사용됩니다.
      operationId: captureTest
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResult'

  /camera-start:
    post:
      tags:
        - 카메라 제어
      summary: 모니터링 시작
      description: 설정된 간격으로 자동 촬영을 시작합니다.
      operationId: startMonitoring
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /camera-stop:
    post:
      tags:
        - 카메라 제어
      summary: 모니터링 중지
      description: 자동 촬영을 중지합니다.
      operationId: stopMonitoring
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /camera-interval:
    post:
      tags:
        - 카메라 제어
      summary: 촬영 간격 설정
      description: 자동 촬영 간격을 설정합니다.
      operationId: setCaptureInterval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interval
              properties:
                interval:
                  type: integer
                  description: 촬영 간격 (초)
                  enum: [60, 300, 600, 1800, 3600]
                  example: 600
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /camera-white-balance:
    post:
      tags:
        - 카메라 제어
      summary: 화이트 밸런스 설정
      description: 카메라 화이트 밸런스 모드를 설정합니다.
      operationId: setWhiteBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mode
              properties:
                mode:
                  type: string
                  description: 화이트 밸런스 모드
                  enum: [auto, fluorescent, tungsten, daylight]
                  example: "auto"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== AI 분석 ====================
  /capture-analyze:
    post:
      tags:
        - AI 분석
      summary: 토마토 이미지 분석 (YOLO)
      description: |
        업로드된 이미지를 YOLO 모델로 분석하여 토마토를 분류합니다.
        
        **분류 클래스:**
        - Ready: 수확 가능
        - Not_Ready: 미성숙
        - Disease_Bad: 병해
        - Truss: 화방
      operationId: analyzeTomato
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: byte
                  description: Base64 인코딩된 이미지
                mimeType:
                  type: string
                  default: "image/jpeg"
                  example: "image/jpeg"
                fileName:
                  type: string
                  default: "capture.jpg"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResult'
              example:
                success: true
                message: "YOLO 분석 완료"
                data:
                  Ready: 12
                  Not_Ready: 8
                  Disease_Bad: 1
                  Truss: 5
                  ripeness_rate: 60
                  disease_rate: 5

  /disease-diagnosis:
    post:
      tags:
        - AI 분석
      summary: 병해충 AI 진단
      description: |
        Gemini AI를 사용하여 토마토 이미지의 병해충을 진단합니다.
        
        **진단 항목:**
        - 건강 상태 평가 (건강/주의/위험)
        - 발견된 증상
        - 원인 분석
        - 긴급 조치 사항
        - 치료 방법
        - 예방 관리
      operationId: runDiseaseAnalysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: byte
                  description: Base64 인코딩된 이미지
                mimeType:
                  type: string
                  default: "image/jpeg"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseAnalysis'
              example:
                success: true
                diagnosis: "🔬 진단 결과\n\n### 1. 🚦 건강 상태: 주의\n잎에 황화 현상이 관찰됩니다..."
                healthStatus: "주의"
                timestamp: "2024-11-21T07:30:00Z"

  # ==================== 수확량 예측 ====================
  /predict:
    post:
      tags:
        - 수확량 예측
      summary: AI 수확량 예측
      description: |
        환경 조건을 입력받아 ML 모델로 수확량을 예측합니다.
        
        **모델 정보:**
        - 알고리즘: Random Forest
        - 정확도: R² = 0.9084
        - 학습 데이터: 농진청 스마트팜 DB (103,000+ 건)
      operationId: predictYield
      servers:
        - url: http://192.168.49.101:8002
          description: 수확량 예측 서버
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YieldPredictionRequest'
            example:
              month: 11
              temperature: 25.0
              humidity: 65.0
              co2: 700
              solar_radiation: 1200
              growth_stage: "생육중기"
              facility_type: "비닐하우스"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YieldPredictionResponse'
              example:
                predicted_yield: 18.5
                confidence_interval:
                  lower: 16.2
                  upper: 20.8
                  std_dev: 1.2
                input_summary:
                  month: 11
                  temperature: 25.0
                  humidity: 65.0
                recommendations:
                  - "현재 온도가 적정 범위입니다."
                  - "습도를 70% 수준으로 높이면 수확량 증가 가능"

  # ==================== 챗봇 ====================
  /chat-message:
    post:
      tags:
        - 챗봇
      summary: AI 챗봇 메시지
      description: |
        Gemini AI 기반 농업 상담 챗봇입니다.
        텍스트 또는 이미지와 함께 질문할 수 있습니다.
      operationId: sendChatMessage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: 사용자 메시지
                  example: "토마토 잎이 노랗게 변했어요. 원인이 뭘까요?"
                image:
                  type: string
                  format: binary
                  description: 첨부 이미지 (선택)
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
              example:
                response: "토마토 잎이 노랗게 변하는 원인은 여러 가지가 있습니다..."
                timestamp: "2024-11-21T07:30:00Z"
                success: true

  # ==================== 라즈베리파이 직접 API ====================
  /stream:
    get:
      tags:
        - 카메라 제어
      summary: 실시간 스트리밍 (MJPEG)
      description: |
        라즈베리파이 카메라의 실시간 MJPEG 스트림입니다.
        
        **사용법:** `<Image source={{ uri: 'http://192.168.49.219:8080/stream' }} />`
      operationId: getStream
      servers:
        - url: http://192.168.49.219:8080
      responses:
        '200':
          description: MJPEG 스트림
          content:
            multipart/x-mixed-replace:
              schema:
                type: string
                format: binary

  /snapshot:
    get:
      tags:
        - 카메라 제어
      summary: 스냅샷 이미지
      description: 현재 프레임의 JPEG 이미지를 반환합니다.
      operationId: getSnapshot
      servers:
        - url: http://192.168.49.219:8080
      responses:
        '200':
          description: JPEG 이미지
          content:
            image/jpeg:
              schema:
                type: string
                format: binary

components:
  schemas:
    # ===== 공통 스키마 =====
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "서버 오류가 발생했습니다."
        code:
          type: string
          example: "INTERNAL_ERROR"

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "요청이 성공적으로 처리되었습니다."

    # ===== 실시간 데이터 스키마 =====
    RealtimeData:
      type: object
      properties:
        Ready:
          type: integer
          description: 수확 가능한 완숙 토마토 개수
          example: 45
        Not_Ready:
          type: integer
          description: 미성숙 토마토 개수
          example: 23
        Disease_Bad:
          type: integer
          description: 병해 토마토 개수
          example: 2
        Truss:
          type: integer
          description: 화방 개수
          example: 8

    HistoryData:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              time:
                type: string
                format: date-time
              Ready:
                type: integer
              Not_Ready:
                type: integer
              Disease_Bad:
                type: integer
              Truss:
                type: integer

    DailySummary:
      type: object
      properties:
        total_ready:
          type: integer
          description: 오늘 총 수확 가능 토마토
        total_not_ready:
          type: integer
          description: 오늘 총 미성숙 토마토
        total_disease:
          type: integer
          description: 오늘 총 병해 토마토
        avg_truss:
          type: integer
          description: 평균 화방 수

    # ===== 시장 가격 스키마 =====
    PriceCompare:
      type: object
      properties:
        success:
          type: boolean
        date:
          type: string
          format: date
        wholesale_summary:
          type: object
          properties:
            high:
              type: integer
              description: 상품 도매가 (원/kg)
            mid:
              type: integer
              description: 중품 도매가 (원/kg)
            cherry:
              type: integer
              description: 방울토마토 도매가 (원/kg)
        online_summary:
          type: object
          properties:
            lowest_price:
              type: integer
              description: 최저 소매가
            lowest_mall:
              type: string
              description: 최저가 판매처
            lowest_title:
              type: string
              description: 최저가 상품명
            lowest_link:
              type: string
              description: 최저가 상품 링크
            median_price:
              type: integer
            average_price:
              type: integer
        comparison:
          type: array
          items:
            type: object
            properties:
              grade:
                type: string
              wholesale_price:
                type: integer
              online_lowest:
                type: integer
              margin_rate:
                type: integer
                description: 마진율 (%)

    PriceHistory:
      type: object
      properties:
        success:
          type: boolean
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        count:
          type: integer
        stats:
          type: object
          properties:
            high:
              $ref: '#/components/schemas/PriceStats'
            mid:
              $ref: '#/components/schemas/PriceStats'
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              high:
                type: integer
              mid:
                type: integer
              cherry:
                type: integer

    PriceStats:
      type: object
      properties:
        min:
          type: integer
        max:
          type: integer
        avg:
          type: integer
        change:
          type: integer

    MarketPrice:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            item_name:
              type: string
            price:
              type: integer
            yesterday_price:
              type: integer
            change:
              type: integer
            change_rate:
              type: number
            direction:
              type: string
              enum: [up, down, same]
            date:
              type: string
              format: date

    # ===== 카메라 스키마 =====
    CameraStatus:
      type: object
      properties:
        monitoring:
          type: boolean
          description: 모니터링 활성화 여부
        interval:
          type: integer
          description: 촬영 간격 (초)
        last_capture:
          type: string
          format: date-time
          description: 마지막 촬영 시간
        white_balance:
          type: string
          description: 화이트 밸런스 모드

    CaptureResult:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            Ready:
              type: integer
            Not_Ready:
              type: integer
            Disease_Bad:
              type: integer
            Truss:
              type: integer
            ripeness_rate:
              type: integer
              description: 성숙도 (%)
            disease_rate:
              type: integer
              description: 병해율 (%)
        timestamp:
          type: string
          format: date-time

    # ===== AI 분석 스키마 =====
    AnalysisResult:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            Ready:
              type: integer
            Not_Ready:
              type: integer
            Disease_Bad:
              type: integer
            Truss:
              type: integer
            ripeness_rate:
              type: integer
            disease_rate:
              type: integer

    DiseaseAnalysis:
      type: object
      properties:
        success:
          type: boolean
        diagnosis:
          type: string
          description: AI 진단 결과 (마크다운 형식)
        healthStatus:
          type: string
          enum: [건강, 주의, 위험, 오류]
          description: 건강 상태 요약
        timestamp:
          type: string
          format: date-time

    # ===== 수확량 예측 스키마 =====
    YieldPredictionRequest:
      type: object
      required:
        - month
        - temperature
        - humidity
      properties:
        month:
          type: integer
          minimum: 1
          maximum: 12
          description: 예측 월
        temperature:
          type: number
          description: 평균 온도 (°C)
        humidity:
          type: number
          description: 평균 습도 (%)
        co2:
          type: number
          description: CO₂ 농도 (ppm)
          default: 700
        solar_radiation:
          type: number
          description: 일사량 (J/㎠)
          default: 1200
        growth_stage:
          type: string
          enum: [생육초기, 생육중기, 생육후기, 수확기]
          default: "생육중기"
        facility_type:
          type: string
          enum: [비닐하우스, 유리온실]
          default: "비닐하우스"

    YieldPredictionResponse:
      type: object
      properties:
        predicted_yield:
          type: number
          description: 예측 수확량 (kg/3.3㎡)
        confidence_interval:
          type: object
          properties:
            lower:
              type: number
              description: 하한값
            upper:
              type: number
              description: 상한값
            std_dev:
              type: number
              description: 표준편차
        input_summary:
          type: object
          description: 입력값 요약
        recommendations:
          type: array
          items:
            type: string
          description: AI 추천사항

    # ===== 챗봇 스키마 =====
    ChatResponse:
      type: object
      properties:
        response:
          type: string
          description: AI 응답 메시지
        timestamp:
          type: string
          format: date-time
        success:
          type: boolean
